<style>
  .advanced-search-container {
    display: flex;
    position: relative;
    font-size: 14px;
  }
  .advanced-search-category-select {
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #CDCDCD;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .advanced-search-category-select i {
    margin-left: 15px;
    padding: 0;
    font-size: 10px;
    height: 15px;
  }
  .advanced-search-category-list {
    display: none;
    position: absolute;
    width: 300px;
    height: fit-content;
    background-color: #fff;
    top: 20px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    padding: 15px 25px 20px;
  }
  .advanced-search-category-list-item {
    font-weight: bold;
    padding: 7px 0;
  }
  .advanced-search-category-list-item:first-child {
    padding: 7px 0;
  }
  .advanced-search-category-list-separator {
    border-top: 1px solid gray;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .advanced-search-category-list-item-all-categories {
    font-weight: bold;
  }
  .advanced-search-field {
    -webkit-box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    border-left: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
  }
  .advanced-search-base-styles {
    padding: 5px 15px;
    margin: 0;
    border: 1px solid #e3e3e3;
    outline: none;
    z-index: 3;
  }
  .advanced-search-icon {
    position: absolute;
    top: 23%;
    z-index: 1;
    right: 15px;
  }
  .advanced-search .advanced-search-container .caret {
    margin-left: 10px;
  }
  .advanced-search .advanced-search-container .dropdown-menu {
    top: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    padding: 15px 0 20px;
  }
  .advanced-search .advanced-search-container .dropdown-menu li a {
    padding: 8px 35px;
    font-weight: bold;
  }
  .advanced-search .advanced-search-container .dropdown-menu li > a:hover {
    background-color: #dddddd;
    background-image: none;
    color: #000;
  }
</style>

<div class="advanced-search">
  <div class="advanced-search-container">
    <span class="advanced-search-category-select advanced-search-base-styles dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории <span class="caret"></span></span>

    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li><a href="#">Separated link</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul>

    <div class="advanced-search-category-list">
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <div class="advanced-search-category-list-item">
        Помидор
      </div>
      <hr class="advanced-search-category-list-separator">
      <div class="advanced-search-category-list-item-all-categories">
        Помидор
      </div>
    </div>
    <input type="text" class="advanced-search-field advanced-search-base-styles" placeholder="" />
    <span class="advanced-search-icon">
      <i class="fa fa-search"></i>
    </span>
  </div>
</div>

<script>
  // $('.advanced-search-category-select').on('focus', function () {
  //   $('.advanced-search-category-list').toggle()
  // })
    //AUTOCOMPLETE
    $(document).ready(function() {
        $('input[name=\'search\']').autocomplete({
            delay: 100,
            source: function(request, response) {
                $.ajax({
                    url: 'index.php?route=product/product/autocomplete&filter_name=' +  encodeURIComponent(request.term),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item.name,
                                value: item.product_id,
                                image: item.image
                            }
                        }));
                    }
                });
            },
            select: function(event, ui) {
                $('input[name=\'search\']').val(ui.item.label);
                $('.button-search').trigger('click');
                return false;
            },

            focus: function(event, ui) {
                return false;
            }
        }).data("autocomplete")._renderItem = function(ul, item) {
            if (item.image) html = "<a><img src='" + item.image + "' /> " + item.label + "</a>";
            else html = "<a>" + item.label + "</a>";

            return $("<li>").data("item.autocomplete", item).append(html).appendTo(ul);
        };
    });

    $('.button-search').bind('click', function() {
        url = $('base').attr('href') + 'index.php?route=product/search';

        var search = $('input[name=\'search\']').attr('value');

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        location = url;
    });

    $('#header input[name=\'search\']').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            url = $('base').attr('href') + 'index.php?route=product/search';

            var search = $('input[name=\'search\']').attr('value');

            if (search) {
                url += '&search=' + encodeURIComponent(search);
            }

            location = url;
        }
    });
</script>